@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --shadow-custom:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

  --color-primary: var(--color-neutral-800);
  --color-secondary: var(--color-neutral-500);

  --shadow-section-inset:
    0px 1px 4px 0px var(--color-neutral-100) inset,
    0px -1px 4px 0px var(--color-neutral-100) inset;
}

.dark {
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}

.inner-shadow {
  box-shadow:
    inset 0 1px 2px rgba(0, 0, 0, 0.08),
    inset 0 1px 4px rgba(0, 0, 0, 0.04),
    inset 0 1px 10px rgba(0, 0, 0, 0.04);
}

.inner-dot {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}

.dark .inner-dot {
  background-image: radial-gradient(#374151 1px, transparent 1px);
}
